<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link  th:href="@{/layui/css/layui.css}"  media="all" rel="stylesheet" type="text/css"/>


</head>
<body class="layui-layout-body ">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">企业化班级管理</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left" id="header-nav" lay-filter="header-nav">
            <li class="layui-nav-item" id="personnel" data-name="personnel"><a href="javascript:;">人事管理</a></li>
            <li class="layui-nav-item" id="attendance" data-name="attendance"><a href="javascript:;">考勤管理</a></li>
            <li class="layui-nav-item" id="discipline" data-name="discipline"><a href="javascript:;">违纪管理</a></li>
            <li class="layui-nav-item" id="homework" data-name="homework"><a href="javascript:;">作业管理</a></li>
            <li class="layui-nav-item" id="classFee" data-name="classFee"><a href="javascript:;">班费管理</a></li>
            <%--<li class="layui-nav-item" id="system" data-name="system"><a href="javascript:;">系统管理</a></li>--%>
            <%--<li class="layui-nav-item">
            <a href="javascript:;">其他系统</a>
            <dl class="layui-nav-child">
                <dd><a href="">消息管理</a></dd>
                <dd><a href="">授权管理</a></dd>
            </dl>
        </li>--%>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    ${sessionScope.user.student.sname}
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-filter="test" id="left-nav">
                <li class="layui-nav-item" data-name="homework">
                    <a href="javascript:;"><i class="layui-icon">&#xe68e;</i> 系统主页</a>
                </li>
            </ul>
        </div>
        <div></div>
    </div>
    <!-- 内容主体区域 -->
    <div class="layui-body layadmin-body" id="LAY_app_body" style="margin: 0px;padding: 0px;">
        <div class="layadmin-tabsbody-item">
            <div class="layui-tab" lay-allowClose="true" style="margin: 0px;" lay-filter="main">
                <ul class="layui-tab-title">
                    <li class=""><i class="layui-icon">&#xe68e;</i>系统首页
                        <i class="layui-icon layui-unselect layui-tab-close" style="display: none">ဆ</i></li>
                </ul>
                <ul class="layui-nav closeBox" style="border: 0px" id="pageOpt">
                    <li class="layui-nav-item">
                        <a href="javascript:;"><i class="layui-icon caozuo">&#xe643;</i> 页面操作</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" id="refreshThis" class="refresh refreshThis"><i class="layui-icon">&#xe669;</i> 刷新当前</a></dd>
                            <dd><a href="javascript:;" id="closePageOther" class="closePageOther"><i class="layui-icon">&#x1006;</i> 关闭其他</a></dd>
                            <dd><a href="javascript:;" id="closePageAll" class="closePageAll"><i class="layui-icon">&#x1007;</i> 关闭全部</a></dd>
                        </dl>
                    </li>
                </ul>
                <div class="layui-tab-content" style="background-color: #F5F5F5;height:563px">
                    <div class="layui-tab-item">
                        <iframe name="frame" src="" frameborder="0" class="layadmin-iframe"
                                style="width: 100%;height: 100%;"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © zhang
        </div>
    </div>
</div>
<script src="layui/layui.js"></script>
<script src="layui/js/index.js"></script>
</body>
</html>